<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
				[[${params}]]
				
				<a  th:href="@{/create-join-channel}" th:text="'create & join channel'"></a>
				<ul >
					<li th:each="s : ${params}">
						<p th:text="${s.orgName}"></p>
						<ul >
							<li th:each="p : ${s.peers}">
								<a  th:href="@{/channels(peer=${p},org=${s.orgName})}" th:text="${p}+':'+${s.orgName}"></a>
							</li>
						</ul>
					</li>
				</ul>

    
</body>
</html>