<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--     <p th:text="'Hello, ' + ${hello} + '!'" /> -->

<!-- 	<form action="#" th:action="@{/add}" th:object="${todo}" method="post"> -->
<!-- 	  <fieldset> -->
<!-- 	    <input type="text" name="title" /> -->
<!-- 	    <input type="submit" value="Add"/> -->
<!-- 	  </fieldset> -->
<!-- 	</form> -->
    <ul>
    	<li th:each="s : ${dockerContainers}" >
    		<p th:text="${s}"></p>
    	</li>
    </ul>
    
</body>
</html>