<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<ul>
    	<li><a th:href="@{/}">back</a></li>
    </ul>
    <div>
		<form method="POST" enctype="multipart/form-data" action="/upload">
			<table>
				<tr><td>Chaincode name : <input type="text" name="chaincodeName" /></td></tr>
				<tr><td>Version : <input type="text" name="version" /></td></tr>
				<tr><td>Type ( golang ) <input type="text" name="type" /></td></tr>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
    
</body>
</html>